.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-anim infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-anim {
  0% {
    color: red;
    transform: rotate(0deg);
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;  }

  75% {
    color: purple;
  }

  100% {
    color: red;
    transform: rotate(360deg);
  }
}
